@font-face {
	font-family: 'rift';
	src        : url('fonts/rift-medium.woff2') format('woff2');
	font-weight: normal;
	font-style : normal;
}

@font-face {
	font-family: 'rift';
	src        : url('fonts/rift-bold.woff2') format('woff2');
	font-weight: bold;
	font-style : normal;
}

:root {
	--green    : 0, 160, 158;
	--darkGreen: 0, 107, 98;
	--yellow   : #d9e021;
}

html,
body {
	position           : relative;
	width              : 100%;
	height             : 100%;
	background-color   : #ee7402;
	background-image   : url('img/bg.svg');
	background-repeat  : no-repeat;
	background-position: center;
	background-size    : cover;
	overflow           : hidden;
}

body {
	color      : #333;
	margin     : 0;
	padding    : 0;
	box-sizing : border-box;
	font-family: "rift", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
	text-align     : center;
	display        : flex;
	flex-direction : column;
	justify-content: center;
	align-items    : center;
	max-width      : 80%;
	margin         : 0 auto;
	padding        : 1em;
}

p {
	line-height: 1.4;
	margin     : 0.5em 0;
}

.timer-status {
	position : absolute;
	left     : 50%;
	transform: translateX(-50%);
	font-size: var(--timerFontSize);
}

.game-alert {
	position       : absolute;
	top            : 0;
	right          : 0;
	bottom         : 0;
	left           : 0;
	display        : flex;
	align-items    : center;
	justify-content: center;
	margin         : 0;
	padding        : 0;
	font-size      : 9rem;
	font-weight    : bold;
	line-height    : 1;
	background     : rgba(173, 227, 224, 0.8);
	color          : #951b81;
	z-index        : 2;
}

.game-alert p {
	width      : 100%;
	margin     : 0 auto;
	line-height: 1.2;
}

/* button {
	position          : relative;
	display           : inline-block;
	width             : 7em;
	height            : 7em;
	border            : 0;
	margin            : 0.5em;
	outline           : none;
	background-color  : #971c82;
	font-size         : 1rem;
	color             : white;
	text-transform    : uppercase;
	text-align        : center;
	border-radius     : 50%;
	cursor            : pointer;
	-webkit-transition: box-shadow 200ms;
	transition        : box-shadow 200ms;
}

button {
	box-shadow: inset 0 0.28125em 0 #ac2095, inset 0 -0.28125em 0 #811870, inset 0 0 0 0.28125em #8a1977, inset 0 0 0 0.75em #971c82, inset 0 0 0 0.9em #410c38, inset 0 0 0 0.9782608696em black, inset 0 0 0 1.2em rgba(227, 104, 207, 0.7), inset 0 0 0 1.6363636364em #971c82, inset 0 3.6em 1.2em #811870, inset 0 0 0.9em 1.5em #6c145d, 0 0.45em 0 rgba(0, 0, 0, 0.3);
}

button:after {
	content                    : '';
	position                   : absolute;
	bottom                     : 0.45em;
	left                       : 0.9em;
	display                    : block;
	width                      : 5.4em;
	height                     : 5.4em;
	border                     : 0.6em solid rgba(0, 0, 0, 0.3);
	border-width               : 0 0 0.6em;
	border-radius              : 50%;
	-webkit-transition-duration: 200ms;
	transition-duration        : 200ms;
}

button:active,
button:focus {
	box-shadow      : inset 0 0.28125em 0 #ac2095, inset 0 -0.28125em 0 #811870, inset 0 0 0 0.28125em #8a1977, inset 0 0 0 0.75em #971c82, inset 0 0 0 0.9em #410c38, inset 0 0 0 1.0588235294em black, inset 0 0 0 1.2em rgba(227, 104, 207, 0.2), inset 0 0 0 1.6363636364em #8a1977, inset 0 3.6em 1.2em #741565, inset 0 0 0.9em 1.5em #56104a, 0 0.45em 0 rgba(0, 0, 0, 0.3);
	background-color: #8e1a7b;
	outline         : 0;
} */

button {
	position            : relative;
	display             : inline-block;
	width               : 5.5em;
	height              : 5.5em;
	border              : 0;
	margin              : 0.5em;
	outline             : none;
	background-color    : rgb(var(--green));
	font-size           : 1.4rem;
	color               : white;
	text-transform      : uppercase;
	text-align          : center;
	border-radius       : 50%;
	cursor              : pointer;
	/*box-shadow        : inset 0 0.28125em 0 rgba(var(--green), 0.9), inset 0 -0.28125em 0 rgb(var(--green)), inset 0 0 0 0.28125em #8a1977, inset 0 0 0 0.75em #971c82, inset 0 0 0 0.9em #410c38, inset 0 0 0 0.9782608696em black, inset 0 0 0 1.2em rgba(227, 104, 207, 0.7), inset 0 0 0 1.6363636364em #971c82, inset 0 3.6em 1.2em #811870, inset 0 0 0.9em 1.5em #6c145d, 0 0.45em 0 rgba(0, 0, 0, 0.3);*/
	box-shadow          : 0px 3px 2px 0 rgba(var(--green), 0.4);
	-webkit-transition  : box-shadow 200ms;
	transition          : box-shadow 200ms;
}


button:before {
	content                    : '';
	position                   : absolute;
	top                        : 10%;
	left                       : 50%;
	display                    : block;
	width                      : 80%;
	height                     : 80%;
	border                     : 1px solid rgba(0, 0, 0, 0.1);
	border-width               : 0 0 0.1em;
	border-radius              : 50%;
	-webkit-transition-duration: 200ms;
	transition-duration        : 200ms;
	transform                  : translateX(-50%) rotate(180deg);
}

button:after {
	content                    : '';
	position                   : absolute;
	bottom                     : 6%;
	left                       : 50%;
	display                    : block;
	width                      : 80%;
	height                     : 80%;
	border                     : 1px solid rgba(0, 0, 0, 0.2);
	border-width               : 0 0 0.4em;
	border-radius              : 50%;
	-webkit-transition-duration: 200ms;
	transition-duration        : 200ms;
	transform                  : translateX(-50%);
}