@font-face {
    font-family: 'rift';
    src: url('fonts/rift-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rift';
    src: url('fonts/rift-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
	--green : #00ab9e;
	--yellow: #d9e021;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color:#ee7402;
	background-image: url('img/bg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "rift", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
