@font-face {
    font-family: 'rift';
    src: url('fonts/rift-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rift';
    src: url('fonts/rift-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
	--green : #00ab9e;
	--yellow: #d9e021;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color:#ee7402;
	background-image: url('img/bg.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "rift", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	margin: 0 auto;
	padding: 1em;
}

.instructions {
	font-size: 2rem;
}
.instructions strong {
	font-size: 85%;
}
.game-status {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:100%;
	margin-top:20px;
	font-size: 3rem;
}
.timer-status {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	font-size: var(--timerFontSize);
}
.game-alert {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-size: 9rem;
	font-weight: bold;
	line-height: 1;
	background:rgba(173, 227, 224, 0.8);
	color: #951b81;
	z-index: 2;
}
.game-alert p {
	width: 100%;
	margin:0 auto;
}

code {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin:2px 3px;
	padding: 0.1em 0.32em;
	border:1px solid gray;
	border-radius: 50%;
	box-shadow:1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
	background:white;
	font-weight: normal;
	font-size: 2rem;
	line-height: 1;
	transform: translateY(-0.25em);
}

code.big {
	width: 3.2em;
	height: 3.2em;
	padding:0;
}